{% extends 'template.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<title>Fly Your Name To Space!</title>
{% endblock %}


{% block body %}
<p>&nbsp;</p>
<h1>KSat Stuttgart - Fly your name to space!</h1>
<p>&nbsp;</p>
<p><img src="{{url_for('static', filename='source.png')}}"  alt="source logo" width="200" height="200" /></p>
<p>&nbsp</p>
<p><br />Your name was submitted! You can download your ticket by clicking the link below:</p>
<a href="{{ url_for('download', filename="test.txt") }}">Download your ticket!</a>

{% endblock %}