<!DOCTYPE html>
<html>
	<head>
		<title>KSAT SOURCE</title>
	</head>
	<body style="background-color:rgb(255, 255, 0);">
		<p>&nbsp;</p>
		<h1>KSat Stuttgart - Fly your name to space</h1>
		<p>&nbsp;</p>
		<p><img src="{{url_for('static', filename='source.png')}}"  alt="source logo" width="200" height="200" /></p>
		<p>&nbsp</p>
		<p>Tell us your name and it will fly to space on our satellite!</p>
		<form method="POST">
			<div><input name="text" type="text" minlength="7" placeholder="Your Name" size="40"> <input type="submit" value="Send!" /></div>
		</form>
	</body>
</html>
